@font-face {
  font-family: Avenir Next;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf"); }
@font-face {
  font-family: Avenir Bold;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf"); }
.menu-header {
  padding: 10px 8%;
  display: flex;
  justify-content: center; }
  .menu-header div {
    flex-grow: 1; }
  .menu-header h3 {
    color: #323b45;
    font-size: 24px;
    font-weight: 600; }

.filter-section {
  padding: 30px 8%;
  background-color: #f4f5fa;
  display: inline-flex;
  align-items: flex-end;
  width: 100%; }
  .filter-section .filter-wrapper {
    max-width: 70%;
    flex-grow: 1;
    display: inline-flex; }
  .filter-section .search-wrapper {
    flex-grow: 1; }

.delete-wrapper {
  padding: 30px 8%; }
  .delete-wrapper button {
    color: #c73939;
    font-size: 14px;
    font-weight: 600; }

.item-wrapper {
  padding: 30px 8%; }
  .item-wrapper .number-wrapper {
    color: #333333;
    font-size: 14px;
    font-weight: 400; }
    .item-wrapper .number-wrapper .number {
      font-size: 16px;
      font-weight: 600; }
  .item-wrapper .items-container ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap; }
    .item-wrapper .items-container ul .tile-item {
      border-radius: 5px;
      border: 1px solid #c8c8c8;
      background-color: #ffffff;
      flex-grow: 1;
      padding: 0;
      margin: 10px;
      width: 150px;
      max-width: 150px;
      min-width: 150px;
      height: 150px;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative; }
      .item-wrapper .items-container ul .tile-item .item-img {
        flex-grow: 1;
        display: inline-flex;
        justify-content: center;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain; }
      .item-wrapper .items-container ul .tile-item .item-name {
        padding: 5px;
        display: inline-block;
        width: 100%;
        border-radius: 0 0 3px 3px;
        background-color: #f4f5fa;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center; }
        .item-wrapper .items-container ul .tile-item .item-name a {
          text-decoration: none; }
      .item-wrapper .items-container ul .tile-item .active-check {
        position: absolute;
        left: 10px;
        top: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #ddd; }
      .item-wrapper .items-container ul .tile-item.active {
        box-shadow: 0 6px 34px rgba(44, 133, 237, 0.25);
        border: 2px solid #3a98c8; }
        .item-wrapper .items-container ul .tile-item.active .active-check {
          background-color: #3a98c8; }
          .item-wrapper .items-container ul .tile-item.active .active-check::before {
            content: '\f00c'; }

.item-table-wrapper table {
  width: 100%;
  border-radius: 6px; }
  .item-table-wrapper table thead {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fbfbfb;
    color: #333333;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px; }
  .item-table-wrapper table tbody tr {
    background-color: #fff;
    font-weight: 400;
    font-size: 15px; }
    .item-table-wrapper table tbody tr:nth-child(even) {
      background-color: #c6cbd4; }
    .item-table-wrapper table tbody tr a {
      color: #39a0d3;
      text-decoration: none; }
  .item-table-wrapper table td,
  .item-table-wrapper table th {
    padding: 5px;
    vertical-align: middle; }
    .item-table-wrapper table td:nth-child(4), .item-table-wrapper table td:nth-child(5), .item-table-wrapper table td:nth-child(6), .item-table-wrapper table td:nth-child(7),
    .item-table-wrapper table th:nth-child(4),
    .item-table-wrapper table th:nth-child(5),
    .item-table-wrapper table th:nth-child(6),
    .item-table-wrapper table th:nth-child(7) {
      text-align: center; }

/*# sourceMappingURL=main.css.map */
